<!DOCTYPE html>
<html>
<head>
    <title>Flask Restful API Example</title>

    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery.min.js"></script>                            
    <script src="/static/jQuery.js"></script>

</head>

<body>

    <h1>Smart Irrigation System - Flask RESTful API</h1>
    Water pump is connected to GPIO {{pin}}<br>
    
    <hr>

    <form action="#" method="post">
        <p>Pump:</p>

        <label class="switch">
            <input type="checkbox" name="cb1" class="off-on">
            <span class="slider"></span>
        </label>
    </form>
    
    <br>
    
    Irrigation: <span id="pumpState"></span><br><br>
    
    <hr>

    Automatic mode:
    <label class="switch">
        <input type="checkbox" name="cb2" class="auto">
        <span class="slider"></span>
    </label>
    <p><i>not working yet</i></p> 


</body>

</html>
