<!-- chapter03/templates/inde.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Flask Restful API Example</title>
    <link rel="stylesheet" href="style.css">
    <script src="/static/jquery.min.js"></script>                             <!--(1)-->
    <script type="text/javascript">

        // GET request to server to retrieve water pump state.
        function getState() {
            $.get("/pump", function(serverResponse, status) {                       // (2)
            console.log(serverResponse)
            updateControls(serverResponse)                                      // (3)
            });
        }


        // POST Request to server to set water pump state.
        function postUpdate(payload) {
            $.post("/pump", payload, function(serverResponse, status) {
                console.log(serverResponse);
                updateControls(serverResponse);
            });
        }


        function updateControls(data) {
            str = "";
            if (data.level == 0) 
                str = "Off"
            else
                str = "On"
            $("input[type=button].pumpState").val(str);
            $("#pumpState").html(str);
        }


        // Event listener for button value changes.
        $(document).ready(function() {
            // $("input[type=button].pumpState").click(function() {   
            //     pump_state = $(this).val();
            //     if (pump_state == "Off")    // if it is currently off 
            //         payload = { "level": 1 }    // then it will be on now
            //     else
            //         payload = { "level": 0 }
                
            //     postUpdate(payload);
            //     }
            // );

            $("input[type=checkbox]").click(function() {   

                if ($(this).prop("checked"))    // if it is currently off 
                    payload = { "level": 1 }    // then it will be on now
                else
                    payload = { "level": 0 }
                
                postUpdate(payload);
                }
            );

            // Initialise slider value form state on server.
            getState() 
        });

    </script>

</head>

<body>

    <h1>Flask RESTful API Example</h1>
    LED is connected to GPIO {{pin}}<br>
    Irrigation: <span id="pumpState"></span><br>
    
    <input type="button" value="Off" class="pumpState">

    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>


</body>

</html>
