<!DOCTYPE html>
<html>
<head>
    <title>Flask Restful API Example</title>

    <script src="/static/jquery.min.js"></script>                            
    <script src="/static/jq_deneme.js"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <h1>Smart Irrigation System - Flask RESTful API</h1>
    Water pump is connected to GPIO {{pump_pin}} <br>
    Soil moisture sensor is connected to GPIO {{mois_pin}} <br>
    
    <hr>

    <a href="/pump/ON"><button>Turn ON Watering</button></a>
    <a href="/pump/OFF"><button>Turn OFF Watering</button></a>
    
    <br><br>
    
    Irrigation: {{pump}} 
    <br><br>
    Soil: {{moisture}}
    
    <br><br>
    <hr>

    Automatic mode:
    <a href="/auto/ON"><button>Turn ON Auto Watering</button></a>
    <a href="/auto/OFF"><button>Turn OFF Auto Watering</button></a>


</body>

</html>
