
<!DOCTYPE html>
<head>
  <title> Control Panel </title>
</head>

<body>
  <u>  <h1>Irrigation Control Panel</h1>  </u>
  <h2>The time last updated server: {{  time_now }}</h2>
  <h2>The time last watered: {{  time_watered }}</h2>
  <hr>
  
  <a href="/auto/water/ON"><button>Turn ON Auto Watering</button></a>
  <a href="/auto/water/OFF"><button>Turn OFF Auto Watering</button></a>
  <br><br>
  <a href="/sensor"><button>Check Soil Status</button></a>
  <a href="/water"><button>Water Once</button></a>
  
  <br><br><a href="/"><button>Refresh</button></a>
  
  <hr>
  <h3> {{ text }} </h3>

</body>
</html>